{% extends 'base.html.twig' %}

{% block title %}Hello FicheBienController!{% endblock %}

{% block body %}


  <div class="card mb-3" style="margin:5vw 5vh">
    <img class="card-img-top" id="imagio" src="{{ asset ('asset/images/') ~ bien.urlPhoto}}" alt="Card image cap">
        <h1 class="card-title">{{bien.titre}}</h1>
      <div class="card-text" id="card-text">{{bien.contenu}}</div>
      <br><br><hr>
      <p>Parking : {{bien.parking}} <br> Balcon : {{bien.balcon}} <br> Jardin : {{bien.jardin}} <br> Superficie : {{bien.superficie}} m²<br> Cette appartement est disponnible en {{bien.typeAnnonce}} </p>
      
  </div>

  <!--Section: Contact v.2-->
  {% include '/Form/contactForm.html.twig' %}

{% endblock %}
